/* размеры могут чуть не соответствовать макету в figma,
я подганяла их по perfect pixel */
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Ubuntu-B.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Ubuntu-M.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 100;
    src: url("fonts/Ubuntu-L.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/Ubuntu-M.woff") format("woff");
    font-display: swap;
}

* {
    box-sizing: border-box;
}

.page {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.card_button_mobile,
.slider-button,
.slider-dots,
input[type="radio"] {
    display: none;
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: calc(-0.77083333rem + 2.36111111vw) calc(-7.89583333rem + 26.11111111vw);
    gap: 30px;
}

.wrapper {
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0, 0);
}

.wrapper_left {
    position: absolute;
    background-image: url("images/left-balls.png");
    /* width: 532px; */
    width: calc(-11.08333333rem + 36.94444444vw);
    /* height: 634px; */
    height: calc(-13.20833333rem + 44.02777778vw);
    /* top: 100px; */
    top: calc(-2.08333333rem + 6.94444444vw);
    /* left: -335px; */
    left: calc(7.47916667rem + -24.72222222vw);
}

.wrapper_right {
    position: absolute;
    background-image: url("images/right-balls.png");
    /* width: 600px; */
    width: calc(-12.5rem + 41.66666667vw);
    /* height: 634px; */
    height: calc(-13.20833333rem + 44.02777778vw);
    /* right: -370px; */
    right: calc(7.70833333rem + -25.69444444vw);
    /* top: 18px; */
    top: calc(-0.375rem + 1.25vw);
}

.header {
    background: #9564AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    height: 100px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 310px;
    margin: 0;
}

.header_logo {
    font-size: calc(0rem + 2.5vw);
    color: #ffffff;
}

.header_navigation {
    display: flex;
}

.header_navigation_list {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
    align-items: center;
    font-size: calc(0.025rem + 0.8125vw);
}

.navigation_list_item {
    color: #ffffff;
}

.navigation_list_button {
    background: #684677;
    color: #FFCF2D;
    font-weight: 700;
    padding: 5px 13px;
    border-radius: 0.625rem;
    /* font-size: 16px; */
    font-size: calc(0.025rem + 0.8125vw);
}

.navigation_list_button::after {
    content: "";
    display: inline-block;
    /* height: 1.4rem; */
    height: calc(1.225rem + 0.125vw);
    /* width: 1.4rem; */
    width: calc(1.225rem + 0.125vw);
    margin-left: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-image: url(images/diamond-bold.png);
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 810px;
    background: #9564AA1A;
    border: 2px solid #9564AA33;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 270px
}

.sidebar_user {
    display: flex;
    padding: 15px;
    gap: 15px;
    position: relative;
}

.sidebar_user::after {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -4px;
    height: 2px;
    background-color: #9564AA33;
}

.sidebar_user_img {
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 50px;
    height: 50px;
}

.sidebar_user_info {
    display: grid;
    align-items: center;
}

.sidebar_button {
    text-transform: uppercase;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 0.584rem;
    border-radius: 0.3rem;
    background: #684677;
    border: none;
}

.sidebar_list {
    padding: 29px 29px;
    list-style: none;
    display: grid;
    gap: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar_item_link {
    color: #000000;

}

.sidebar_item::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 29px;
    background-size: 22px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.sidebar_item-profile::before {
    background-image: url('images/profile.png');
}

.sidebar_item-myphotos::before {
    background-image: url('images/my-photos.png');
}

.sidebar_item-messages::before {
    background-image: url('images/messages.png');
}

.sidebar_item-favorites::before {
    background-image: url('images/favorites.png');
}

.sidebar_item-guests::before {
    background-image: url('images/guests.png');
}

.sidebar_item-settings::before {
    background-image: url('images/settings.png');
}

.sidebar_item-logout::before {
    background-image: url('images/log-out.png');
}

.container_content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.container h1 {
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* font-size: 2.5rem; */
    font-size: calc(1rem + 1.25vw);
    line-height: 67%;
    padding-bottom: calc(0.6875rem + 0.9375vw);
    /* padding-bottom: 14 29px; */
    border-bottom: 2px solid #68467720;
}

.container_discount {
    position: relative;
    display: flex;
    background: #C15CA1;
    border-radius: 10px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 13px 12px;
}

.discount {
    /* font-size: 42px; */
    font-size: calc(0.225rem + 2vw);
    font-weight: 700;
    color: #FFCF2D;
    text-shadow:
        -1px -1px 0 #FFFFFF,
        1px -1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px 1px 0 #FFFFFF;
}

.container_discount p {
    color: #FFFFFF;
    /* font-size: 17px; */
    font-size: calc(0.3125rem + 0.625vw);
}

.timer {
    background: #FFFFFF;
    border-radius: 5px;
    /* font-size: 2.52rem; */
    font-size: calc(0.025rem + 2.0625vw);
    padding: 5px 23px;
    font-weight: 100;
    white-space: nowrap;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 38px;
}

.card {
    position: relative;
    margin-top: -13px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #9564AA;
    border-radius: 10px;
    background: #9564AA1A;
    flex: 1 1;
    justify-content: center;
    padding: 12px;
    gap: 15px;
}

.card:hover {
    background: #9564AA;
    color: #ffffff;
}

.card:hover>button {
    background: #FFCF2D;
    color: #000000;
}

.card:hover::before {
    background: #FFCF2D;
    position: absolute;
    top: -11px;
    left: 13px;
    width: 100%;
    height: 100%;
    color: #000000;
    content: "One time offer!";
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    width: auto;
    height: auto;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.card_price {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.card_price::after {
    content: "CR";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    margin-left: 5px;
    border-radius: 50%;
    background: #FFCF2D;
    color: black;
    font-size: 8px;

}

.card_button {
    padding: 17px 29px;
    background: #FFFFFF;
    color: #bdbdbd;
    font-weight: 500;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.8px;
}

.container_accept_privacy {
    width: 100%;
    margin-top: 10px;
}

.checkbox_label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 28px;
    /* padding-left: calc(0.08333333rem + 1.38888889vw); */
    cursor: pointer;
    font-size: calc(0.5875rem + 0.1875vw);
    line-height: 15px;
}

.checkbox_label input {
    display: none;
}

.checkbox_custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 19px;
    width: 19px;
    background-color: #9564AA;
    border-radius: 5px;
}

.checkbox_custom:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: 2px solid white;
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 2px;
}

.checkbox_label input:checked+.checkbox_custom:after {
    display: block;
}

.checkbox_label:hover input+.checkbox_custom {
    background-color: #684677;
}

.checkbox_label input:active~.checkbox_custom {
    background-color: #684677;
}

.checkbox_label input:focus~.checkbox-custom {
    box-shadow: 0 0 0 2px #68467780;
}

.container_diamond_environment {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 60px auto;
}

.center-image {
    position: absolute;
    top: 31%; 
    left: 42%;
    z-index: 1;
    /* width: 130px; */
    width: calc(4.375rem + 3.125vw);
    height: auto;
}

.environment_item {
    position: absolute;
    width: 0;
    height: auto;
    text-align: center;
    justify-items: center;
    line-height: 0.9;
}

.environment_item span {
    /* font-size: 12px; */
    font-size: calc(0.6rem + 0.125vw);
}

.environment_item_img {
    border-radius: 50%;
    /* width: 50px; */
    width: calc(1.625rem + 1.25vw);
    /* height: 50px; */
    height: calc(1.625rem + 1.25vw);
    background: #9564AA1A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.environment_item_img:hover {
    background: #FFCF2D;
}

@media (max-width: 1200px) {

    .wrapper_right,
    .wrapper_left,
    .sidebar,
    .container_diamond_environment {
        display: none;
    }

}

@media (max-width: 320px) {

    .card:hover,
    .container_discount,
    .header_navigation,
    .header_logo,
    .card_button {
        display: none;
    }

    .header {
        position: relative;
        margin-top: -10px;
        height: 60px;
    }

    .main {
        margin: 20px auto;
        display: grid;
        padding: 0 20px;
    }

    .header::after {
        content: "";
        display: block;
        position: absolute;
        top: 43%;
        right: 8%;
        height: 20px;
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(images/diamond-bold.png)
    }

    .header::before {
        content: "";
        position: absolute;
        top: 29px;
        left: 27px;
        width: 23px;
        height: 2px;
        border-top: 6px double #ffffff;
        border-bottom: 2px solid #ffffff;
    }

    .container h1 {
        text-shadow: none;
    }

    .container_content {
        margin: 0;
    }

    .container_card {
        gap: 0;
    }


    .card_button_mobile {
        display: block;
        background: #FFCF2D;
        padding: 19px 109px;
        margin: 30px auto 5px;
        color: #000000;
        font-weight: 700;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .card::before {
        background: #FFCF2D;
        position: absolute;
        left: -20px;
        width: 100%;
        height: 100%;
        color: #000000;
        content: "One time offer!";
        justify-content: center;
        align-items: center;
        padding: 3px 10px;
        width: auto;
        height: auto;
        border-radius: 5px;
        color: black;
        font-size: 14px;
        font-weight: 700;
        transition: transform 0.3s ease;
    }

    .container_diamond_environment {
        display: grid;
        flex-direction: column;
        max-height: 200px;
        margin: 13px auto 0;
        gap: 33px;
    }

    .center-image {
        position: relative;
        top: 25%;
        left: 35%;
        width: 80px;
        height: 70px;
    }

    .environment_item {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 10px;
        display: flex;
        align-items: center;
        text-align: left;
    }

    .environment_item_img {
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }
    .environment_item img {
        width: 10px;
        height: 10px;
    }

    .environment_item[data-index="1"],
    [data-index="2"] {
        display: none;
    }

    .slider {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .slides {
        display: flex;
        width: 600%;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        position: relative;
        background: #9564AA;
        width: 100%;
        margin-left: 20px;
        flex-shrink: 0;
        padding: 13px;
        justify-content: end;
        color: #FFFFFF;
        pointer-events: none;

    }

    .slide::after {
        content: "/$5";
        font-size: 24px;
        margin-right: 19px;
        margin-left: -11px;
    }

    .controls {
        text-align: center;
    }

    .controls label {
        display: inline-block;
        width: 7px;
        height: 7px;
        background: #FFCF2D;
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
    }

    .controls label:checked {
        background: #048153;
    }
  
}